<!-- <div style="text-align:center"> -->
<div class="card">
  <div class="card-header">
    <h1>
      {{title}}
    </h1>
  </div>
  <div class="card-body container">
    <div class="form-group row mb-5">
      <button class="btn btn-link" [routerLink]="['/addtask']" routerLinkActive="router-link-active">
        <h4>Add Task</h4>
      </button>
      <button class="btn btn-link" [routerLink]="['/viewtask']" routerLinkActive="router-link-active">
        <h4>View Task</h4>
      </button>
    </div>
    <div class="">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>