<form>
    <div class="form-row form-inline">
        <div class="col-md-6">
            <div class="form-group">
                <label for="taskName" class="col-md-3 col-form-label">Task</label>
                <div class="col-md-9">
                    <input type="text" class="col-md-12" id=taskName (input)="ontaskNameChange($event.target.value)" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="parenttaskName" class="col-md-3 col-form-label">Parent Task</label>
                <div class="col-md-8">
                    <input type="text" class="col-md-12" id=parenttaskName (input)="onparentNameChange($event.target.value)" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-row form-inline">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="priorityFrom" class="col-md-7 col-form-label">Priority From</label>
                <div class="col-sm-5">
                    <input type="text" class="col-md-12" id=priorityFrom (input)="onpriorityFromChange($event.target.value)" />
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="priorityTo" class="col-md-7 col-form-label">Priority To</label>
                <div class="col-sm-5">
                    <input type="text" class="col-md-12" id=priorityTo (input)="onpriorityToChange($event.target.value)" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="startDate" class="col-sm-2 col-form-label">Start Date</label>
                <div class="col-sm-10 padding-align">
                    <input type="date" class="form-control date-width" style="width:100%" id=startDate (input)="filterSearchByDate($event.target.value)" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="endDate" class="col-sm-2 col-form-label">End Date</label>
                <div class="col-sm-10 padding-align">
                    <input type="date" class="form-control date-width" style="width:100%" id=endDate />
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Task</th>
            <th>Parent</th>
            <th>Priority</th>
            <th>Start</th>
            <th>End</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let task of filteredTask'>
            <td></td>
            <td>
                <div class="card">
                    <div class="card-body">{{task.Task}}</div>
                </div>
            </td>
            <td>
                <div class="card" style="width:12rem">
                    <div class="card-body">{{task.Parent_Task}}</div>
                </div>
            </td>
            <td>{{task.Priority}}</td>
            <td>{{task.Start_Date | date:'dd/MM/yyyy'}}</td>
            <td>{{task.End_Date | date:'dd/MM/yyyy'}}</td>
            <td>
                <div class="form-group">
                    <div class="form-group">
                            <button class="btn btn-secondary btn-sm mr-2" (click)="onUpdate(task.Task_ID)">Edit </button>
                        <button class="btn btn-secondary btn-sm" (click)="DeleteTask(task.Task_ID)">End Task </button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<router-outlet></router-outlet>